container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_wsgireplace:
    command: 'cp wsgi.conf ../wsgi.conf'
  04_migrate:
    command: "python manage.py makemigrations"
  03_migrate2:
    command: "python manage.py migrate"

option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "Main/static/"
