{% extends 'Main/base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'Main:home' %}">CMU-SUMMIT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="{% url 'Main:agenda' %}" class="active">AGENDA</a>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SPEAKERS <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Main:opening_remarks' %}">Opening Remarks</a></li>
                                <li><a href="{% url 'Main:keynote_speakers' %}">Keynote Speakers</a></li>
                                <li><a href="{% url 'Main:panelist' %}">Panel Speakers</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PANELS <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Main:ie' %}">IE</a></li>
                                <li><a href="{% url 'Main:start_up' %}">Start-up</a></li>
                                <li><a href="{% url 'Main:sustainability' %}">Sustainability</a></li>
                                <li><a href="{% url 'Main:high_tech' %}">High Tech</a></li>
                                <li><a href="{% url 'Main:finance' %}">Finance</a></li>
                            </ul>
                        </li>
                    <li>
                        <a href="{% url 'Main:competition' %}">COMPETITION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'Main:collaborators' %}">COLLABRATORS</a>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAREER <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                 <li><a href="{% url 'Main:career' %}">Recruiters</a></li>
                                <li><a href="{% url 'Main:job_fair' %}">Jobfair</a></li>
                            </ul>
                        </li>
                    <li>
                        <a class="page-scroll" href="#resources">RESOURCES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-us">ABOUT US</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<section id="agenda">
        <div id="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Agenda</h2>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'Main/img/agenda/registration.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5><u>April 9,&nbsp;2016</u></h5>
                                </div>
                                <div class="timeline-heading">
                                    <h3><strong>Registration</strong></h3>
                                    <h4><i>08:50am-9:30am</i></h4>
                                    <h4><i>Kresge Theatre(CFA)</i></h4>
                                </div>

                                <div class="timeline-heading">
                                    <h3><strong>Opening Remarks</strong></h3>
                                    <h4><i>Time09:30am-10:00am</i></h4>
                                    <h4><i>Kresge Theatre(CFA)</i></h4>
                                </div>

                                <div class="timeline-heading">
                                    <h3><strong>Keynote One</strong></h3>
                                    <h4>10:00am-10:30am</h4>
                                    <h4>Kresge Theatre(CFA)</h4>
                                </div>

                                <div class="timeline-heading">
                                    <h3><strong>Coffee Break</strong></h3>
                                    <h4>10:30am-10:40am</h4>
                                    <h4>Kresge Theatre(CFA)</h4>
                                </div>
                                <div class="timeline-heading">
                                    <h3><strong>Keynote Two</strong></h3>
                                    <h4>10:40am-11:10am</h4>
                                    <h4>Kresge Theatre(CFA)</h4>
                                </div>
                                <div class="timeline-heading">
                                    <h3><strong>Keynote Three</strong></h3>
                                    <h4>11:10am-11:40pm</h4>
                                    <h4>Kresge Theatre(CFA)</h4>
                                </div>


                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'Main/img/agenda/lunch-icon.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                            

                                <div class="timeline-heading">
                                    <a href="{% url 'Main:feature_events' %}">
                                    <h3><strong>Lunch Event</strong></h3></a>
                                    <h4><i>11:50pm-12:50pm</i></h4>
                                    <h4><i>UC Danforth</i></h4>
                                </div>
                                <div class="timeline-heading">
                                <h3><strong>Keynote Four</strong></h3>
                                <h4><i>01:00pm-01:30pm</i></h4>
                                <h4><i>Giant Eagle Auditorium (BH A51)</i></h4>
                                </div>
                                <div class="timeline-heading">
                                <h3><strong>Finance Panel</strong></h3>
                                <h4><i>01:35pm-02:50pm</i></h4>
                                <h4><i>Giant Eagle Auditorium (BH A51)</i></h4>
                                </div>
                                <div class="timeline-heading">
                                <h3><strong>Coffee Break</strong></h3>
                                <h4><i>02:50pm-03:00pm</i></h4>
                                <h4><i>Giant Eagle Auditorium (BH A51)</i></h4>
                                </div>
                                <div class="timeline-heading">
                                <h3><strong>High Tech Panel</strong></h3>
                                <h4><i>03:00pm-04:35pm</i></h4>
                                <h4><i>Giant Eagle Auditorium (BH A51)</i></h4>
                                </div>
                                <div class="timeline-heading">
                                <h3><strong>Coffee Break</strong></h3>
                                <h4><i>04:35pm-04:50pm</i></h4>
                                <h4><i>Giant Eagle Auditorium (BH A51)</i></h4>
                                </div>
                                <div class="timeline-heading">
                                <h3>Energy & Sustainability Panel</h3>
                                <h4><i>04:50pm-06:20pm</i></h4>
                                <h4><i>Giant Eagle Auditorium (BH A51)</i></h4>
                                </div>
                                <div class="timeline-heading">
                                <a href="{% url 'Main:feature_events' %}">
                                <h3><strong>Private Dinner&nbsp;(Invite Only)</strong></h3></a>
                                <h4><i>07:00pm-08:00pm</i></h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'Main/img/agenda/breakfast.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h5><u>April 10,&nbsp;2016</u></h5>
                                </div>
                                <div class="timeline-heading">
                                    <h3><strong>Registration | Free Breakfast</strong></h3>
                                    <h4><i>08:50am-09:20am</i></h4>
                                    <h4><i>Mellon Auditorium (Tepper)</i></h4>
                                </div>

                                <div class="timeline-heading">
                                <h3><strong>Innovation and Entrepreneurship Panel</strong></h3>
                                <h4><i>09:20am-11:00am</i></h4>
                                <h4><i>Mellon Auditorium (Tepper)</i></h4>
                                </div>

                                <div class="timeline-heading">
                                <h3><strong>Break&nbsp;(Refreshments Provided)</strong></h3>
                                <h4><i>11:00am-11:05am</i></h4>
                                <h4><i>Mellon Auditorium (Tepper)</i></h4>
                                </div>

                                <div class="timeline-heading">
                                <h3><strong>Start-up Panel</strong></h3>
                                <h4><i>11:05am-12:35pm</i></h4> 
                                <h4><i>Mellon Auditorium (Tepper)</i></h4>
                                </div>

                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'Main/img/agenda/job-fair.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                <a href="{% url 'Main:job_fair' %}">
                                <h3><strong>Job Fair&nbsp;(Including Lunch)</strong></h3>
                                </a>
                                <h4>12:45pm-02:50pm</h4>
                                <h4>Tepper Room 322</h4>
                                </div>

                                <div class="timeline-heading">
                                <h3><strong>Keynote Five</strong></h3>
                                <h4>03:00pm-03:25pm</h4>
                                <h4>Wean Hall 7500</h4>
                                </div>

                                <div class="timeline-heading">
                                <h3><strong>New Venture Competition</strong></h3>
                                <h4>03:30pm-06:30pm</h4>
                                <h4>Wean Hall 7500</h4>
                                </div>

                                <div class="timeline-heading">
                                <h3><strong>Closing Remarks</strong></h3>
                                <h4>06:40pm-07:00pm</h4>
                                <h4>Wean Hall 7500</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Welcome!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}