{% extends 'Main/base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'Main:home' %}">CMU-SUMMIT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="{% url 'Main:agenda' %}" >AGENDA</a>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SPEAKERS <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Main:opening_remarks' %}">Opening Remarks</a></li>
                                <li><a href="{% url 'Main:keynote_speakers' %}">Keynote Speakers</a></li>
                                <li><a href="{% url 'Main:panelist' %}">Panel Speakers</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">PANELS <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Main:ie' %}">IE</a></li>
                                <li><a href="{% url 'Main:start_up' %}">Start-up</a></li>
                                <li><a href="{% url 'Main:sustainability' %}">Sustainability</a></li>
                                <li><a href="{% url 'Main:high_tech' %}">High Tech</a></li>
                                <li><a href="{% url 'Main:finance' %}">Finance</a></li>
                            </ul>
                        </li>
                    <li>
                        <a href="{% url 'Main:competition' %}">COMPETITION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'Main:collaborators' %}">COLLABRATORS</a>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAREER <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                 <li><a href="{% url 'Main:career' %}">Recruiters</a></li>
                                <li><a href="{% url 'Main:job_fair' %}">Jobfair</a></li>
                            </ul>
                        </li>
                    <li>
                        <a class="page-scroll" href="#resources">RESOURCES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-us">ABOUT US</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <section id="panel">
    <div class="container">
    <div class="row">
   <div class="col-md-4">
         <img src="{% static 'Main/img/panel/Finance Panel 1.jpg' %}" class="img-responsive" alt="">
             <div class="portfolio-caption">
                </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h2>Financial Technology</h2>
            <hr/>
            <h4>Panel Description</h4>
            <p class="text-muted">Over the past few years, digital and technological revolution has definitely changed the landscape in the financial service industry, creating both challenges and opportunities. Featuring the topic of “FinTech”, the 5th CMU Summit finance panel has attracted specialists from leading fintech companies to reveal the mystery of fintech and to disclose world’s new initiatives of financial technology. We aim to better incorporate cutting-edge technologies into traditional finance in the era of innovation. We kindly welcome anyone who is interested in this thriving area to join us and contribute to the the panel discussion with your mind-blowing ideas. </p>
            <h4>Topics</h4>
            <ul>
            <li class="text-muted">Future of Fintech: Collaboration without boundaries</li>
            <li class="text-muted">Bridging Finance and Technology: New Opportunities in the Era of Innovative Technology</li>
            <li class="text-muted">Digital Transformation in Financial Services</li>
            <li class="text-muted">The trends of Digital Wallet and online payment platform in U.S and China</li>
            <li class="text-muted">New opportunities with P2P technology</li>
            </ul>
            <h4>Panel Speakers</h4>
            <ul>
                <li class="text-muted">Tone Vays</li>
                <li class="text-muted">Steve McLaughlin</li>
                <li class="text-muted">Vicki Zhou</li>
                <li class="text-muted">Herbert Moore</li>
            </ul>
            <a href="{% url 'Main:panelist' %}">READ MORE</a>
        </div>
    </div>

    </div>
    </section>

{% endblock %}