{% extends 'Main/base.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'Main:home' %}">CMU-SUMMIT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="{% url 'Main:agenda' %}" >AGENDA</a>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SPEAKERS <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Main:opening_remarks' %}">Opening Remarks</a></li>
                                <li><a href="{% url 'Main:keynote_speakers' %}">Keynote Speakers</a></li>
                                <li><a href="{% url 'Main:panelist' %}">Panel Speakers</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">PANELS <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Main:ie' %}">IE</a></li>
                                <li><a href="{% url 'Main:start_up' %}">Start-up</a></li>
                                <li><a href="{% url 'Main:sustainability' %}">Sustainability</a></li>
                                <li><a href="{% url 'Main:high_tech' %}">High Tech</a></li>
                                <li><a href="{% url 'Main:finance' %}">Finance</a></li>
                            </ul>
                        </li>
                    <li>
                        <a href="{% url 'Main:competition' %}">COMPETITION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'Main:collaborators' %}">COLLABRATORS</a>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAREER <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                 <li><a href="{% url 'Main:career' %}">Recruiters</a></li>
                                <li><a href="{% url 'Main:job_fair' %}">Jobfair</a></li>
                            </ul>
                        </li>
                    <li>
                        <a class="page-scroll" href="#resources">RESOURCES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-us">ABOUT US</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <section id = "panel">
    <div class="container">
    <div class="row">
   <div class="col-md-4">
         <img src="{% static 'Main/img/panel/IE2.png' %}" class="img-responsive" alt="">
             <div class="portfolio-caption">
                </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h2>Innovation & Entrepreneurship Panel</h2>
            <hr/>
            <h4>Panel Description</h4>
            <p class="text-muted">This year, IE Panel will bring up discussions about the industry trend, investment tendency and commercialization of technology in the leading edge industry, Robotics. The IE panel is dedicated to creating a platform for prestigious investors and entrepreneurs from both China and US to network, share experiences, exchange ideas and moreover to promote bilateral dialogue and cooperation between the two country.</p>
            <h4>Topics</h4>
            <ul>
            <li class="text-muted">Future prospects for the Robotics</li>
            <li class="text-muted">Target market application of the Robotics </li>
            <li class="text-muted">Investment in the Robitics </li>
            <li class="text-muted">Application of the technical robotic knowledge to daily life</li>
            </ul>
            <h4>Panel Speakers</h4>
            <ul>
                <li class="text-muted">David S. Mawhinney (Moderator)</li>
                <li class="text-muted">Feng Li (李丰)</li>
                <li class="text-muted">Larry Li (李强)</li>
                <li class="text-muted">Ricky Wang</li>
                <li class="text-muted">Chris Moehle</li>
                <li class="text-muted">Hong Xue (薛宏)</li>
            </ul>
            <a href="{% url 'Main:panelist' %}">READ MORE</a>
        </div>
    </div>

    </div>
    </section>
{% endblock %}