{% extends 'Main/base.html' %}
{% load staticfiles %}
{% block content %}


    <!-- Header -->
    <header>
        <div class="container">
        <div class="row">
        <div class="col-md-6">
                <div class="caption">
                <h2>April 9-10</h2>
                <p>CMU Summit is a high-profile forum, where leading entrepreneurs, executives, venture capitalists and researchers from both China and United States could come together to address big issues on economy and technology, and further cultivate potential opportunities for mutual partnerships.</p>
                </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="intro-text">
                <div class="intro-lead-in">CMU SUMMIT</div>
                <div class="intro-heading">US-China Innovation and Entrepreneurship</div>
                <a href="{% url 'Main:register' %}" class="page-scroll btn btn-xl">Register</a>
            </div>
        </div>
        </div>
        </div>
    </header>
    
    

    <!-- Panels Section -->
    <section id="panels" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PANEL DISCUSSIONS</h2>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 portfolio-item-big">
                        <img src="{% static 'Main/img/panel/High Tech.png' %}" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>High Tech</h4>
                        <p class="text-muted">High-tech panel is one of the five major panels of CMU Summit. This event featured with keynote speech, panel discussion and Q&A session.
 
In the unprecedented era of technology, High-Tech radiates all cutting-edge fields: Internet of Things, Game Theory, Autonomous Driving, Computational Biology, Human Computer Interaction, Internet Security. Among all these, High Technology Panel puts its emphasis on Artificial Intelligence this year and aims at revealing how AI reshapes our understanding of the world, how it facilitates other technology and what issues scientists and engineers should be aware of in the new age of AI.</p>
                    </div>
                    <a href="{% url 'Main:high_tech' %}">READ MORE</a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item-sm">
                        <img src="{% static 'Main/img/panel/IE1.png' %}" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Innovation & Entrepreneurship</h4>
                        <p class="text-muted">This year, IE Panel will bring up discussions about the industry trend, investment tendency and commercialization of technology in the leading edge industry, Robotics. The IE panel is dedicated to creating a platform for prestigious investors and entrepreneurs from both China and US to network, share experiences, exchange ideas and moreover to promote bilateral dialogue and cooperation between the two country.
</p>
                    </div>
                    <a href="{% url 'Main:ie' %}">READ MORE</a>
                </div>
                </div>
                <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="{% static 'Main/img/panel/Startup1.png' %}" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Start-up</h4>
                        <p class="text-muted">As the brand new section of 5th CMU Summit, the Start-up Panel will gather the founders of mature startups, who will introduce their companies and products. During the introduction, the speakers will share with audience invaluable lessons gained from their entrepreneurship experiences. The Start-up Panel aims to build up a communication platform between sophistic and young entrepreneurs for seeking and cultivating the next “Unicorn”. </p>
                    </div>
                    <a href="{% url 'Main:start_up' %}">READ MORE</a>
                </div>


                <div class="col-md-4 col-sm-6 portfolio-item">

                        <img src="{% static 'Main/img/panel/Energy.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Energy & Sustainability</h4>
                        <p class="text-muted">Energy and Sustainability Panel is one of the five major panels of CMU Summit. This event is featured with keynote speech, panel discussion and Q&A session.  We aim to give CMU students insight about the cutting-edge technological developments in energy and sustainability, help students of interest establish better understanding of sustainable energy industries, and become prepared for their professional life. </p>
                    </div>
                    <a href="{% url 'Main:sustainability' %}">READ MORE</a>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                        <img src="{% static 'Main/img/panel/Finance Panel 1.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-caption">
                        <h4>Financial Technology</h4>
                        <p class="text-muted">Over the past few years, digital and technological revolution has definitely changed the landscape in the financial service industry, creating both challenges and opportunities. Featuring the topic of “FinTech”, the 5th CMU Summit finance panel has attracted specialists from leading fintech companies to reveal the mystery of fintech and to disclose world’s new initiatives of financial technology.  </p>
                    </div>
                    <a href="{% url 'Main:finance' %}">READ MORE</a>
                </div>
            </div>
            <hr/>
        </div>
    </section>
    <section>
        <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
         <h2 class="section-heading">FEATURED EVENTS</h2>
                    <hr/>
        </div>
        </div>

        <div class="row text-center events">
                <div class="col-md-4">
                <h4>Networking Lunch</h4>
                <h3> Excellent chance to <br>talk to our distinguished <br>guests and speakers</h3>
                <br>
                <p>Time: 12:00pm-13:00pm, April 09<br>
Venue: CUC DANFORTH<br>
Event Details: Ticket Required</p>
                <a href="{% url 'Main:feature_events' %}">MORE DETAILS</a>
                </div>


                <div class="col-md-4">
                <h4>Career Fair</h4>
                <h3>Seek internship or fulltime opportunities<br>In a startup environment</h3>
                <br>
                <p>Time: 12:30pm-14:30pm, April 10<br>
Venue: CUC DOWD<br>
Event Details: food provided</p>
                <a href="{% url 'Main:feature_events' %}">MORE DETAILS</a>
                </div>


                <div class="col-md-4">
                <h4>Private Dinner</h4>
                <h3>Face-to-face communication with our guests<br>VIP Tickets are limited</h3>
                <br>
                <p>Time: 7:00pm-9:00pm, April 09<br>
Venue: Westin Convention Center<br>
Event Details: Tickets Required</p>
                <a href="{% url 'Main:feature_events' %}">MORE DETAILS</a>
                </div>
        </div>

        </div>
        <hr/>
    </section>
<!-- opening remarks Section -->
    <section id="opening">
        <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Opening Remarks</h2>
                    <hr/>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/dmawhin.jpg' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Dave Mawhinney</h3>
            <br>
            <p>Associate Teaching Professor of Entrepreneurship</p>
            <br>
            <p>Executive Director of Donald H. Jones Center for Entrepreneurship Co-Director</p>  
            <br>
            <p>Carnegie Mellon University Center for Innovation and Entrepreneurship</p>
            <br>
            <br>
            <br>
            <a href="{% url 'Main:opening_remarks' %}">MORE DETAILS</a>
            </div>
            </div>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Lenore Blum.jpg' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Lenore Blum</h3>
            <br>
            <p>Co-Director, Center for Innovation and Entrepreneurship </p>
            <br>
            <p>Distinguished Professor of Computer Science, Carnegie Mellon University</p>
            <br>
            <p>Founding Director, Project Olympus, Olympus</p>
            <br>
            <br>
            <br>
            <a href="{% url 'Main:opening_remarks' %}">MORE DETAILS</a>
            </div>
            </div>

        </div>
        </div>
    </section>
    <!-- keynote Section -->
    <section id="keynote">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Keynote Speakers</h2>
                    <hr/>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <img src="{% static 'Main/img/speakers/Tuomas Sandholm.png' %}" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Tuomas Sandholm</h4>
                    <p class="text-muted">
Director of Electronic Marketplaces Laboratory

                    </p>
                    <a href="{% url 'Main:keynote_speakers' %}">MORE DETAILS</a>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="{% static 'Main/img/speakers/Taobo.jpeg' %}" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Bo Tao</h4>
                    <p class="text-muted text">Vice President of Cheetah Mobile</p>
                    <a href="{% url 'Main:keynote_speakers' %}">MORE DETAILS</a>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <img src="{% static 'Main/img/speakers/LarryLi.jpg' %}" class="img-responsive img-circle" alt="">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Larry Li</h4>
                    <p class="text-muted">Managing Partner, Amino Capital </p>
                    <a href="{% url 'Main:keynote_speakers' %}">MORE DETAILS</a>
                </div>  
            </div>


            <br>
            <br>
            <br>
            <br>
            <div class="row text-center">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="{% static 'Main/img/speakers/Terrence Collins.png' %}" class="img-responsive img-circle" alt="">
                    </span>
                    <h4 class="service-heading">Terrence J. Collins </h4>
                    <p class="text-muted text">Teresa Heinz Professor of Green Chemistry</p>
                    <a href="{% url 'Main:keynote_speakers' %}">MORE DETAILS</a>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <img src="{% static 'Main/img/speakers/feng_li.png' %}" class="img-responsive img-circle" alt="">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Feng Li</h4>
                    <p class="text-muted">Founder of FreeS</p>
                    <a href="{% url 'Main:keynote_speakers' %}">MORE DETAILS</a>
                </div>  
                <div class="col-md-2">
                </div>
            </div>



        </div>
    </section>

{% endblock %}