{% extends 'Main/base.html' %}
{% load staticfiles %}
{% block content %}
  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'Main:home' %}">CMU-SUMMIT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="{% url 'Main:agenda' %}" id="agenda">AGENDA</a>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">SPEAKERS <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Main:opening_remarks' %}">Opening Remarks</a></li>
                                <li><a href="{% url 'Main:keynote_speakers' %}">Keynote Speakers</a></li>
                                <li><a href="{% url 'Main:panelist' %}">Panel Speakers</a></li>
                            </ul>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PANELS <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'Main:ie' %}">IE</a></li>
                                <li><a href="{% url 'Main:start_up' %}">Start-up</a></li>
                                <li><a href="{% url 'Main:sustainability' %}">Sustainability</a></li>
                                <li><a href="{% url 'Main:high_tech' %}">High Tech</a></li>
                                <li><a href="{% url 'Main:finance' %}">Finance</a></li>
                            </ul>
                        </li>
                    <li>
                        <a href="{% url 'Main:competition' %}">COMPETITION</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'Main:collaborators' %}">COLLABRATORS</a>
                    </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAREER <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                 <li><a href="{% url 'Main:career' %}">Recruiters</a></li>
                                <li><a href="{% url 'Main:job_fair' %}">Jobfair</a></li>
                            </ul>
                        </li>
                    <li>
                        <a class="page-scroll" href="#resources">RESOURCES</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-us">ABOUT US</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="sustain">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sustainability Panel</h2>
                    <hr/>
                </div>
            </div>




            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Terrence Collins.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Terrence J. Collins</h3>
            <br>
            <p class="text-muted">Professor of Green Chemistry<br>
Director, Institute for Green Science<br>
Professor Collins has been recognized internationally for his invention of a new class of oxidation catalysts, "TAML Activators". This is the first full functional mimics of any of the great families of oxidizing enzymes, solving in the process one of the all-time great challenges of reaction chemistry and catalysis. This invention underpins new technologies for treating municipal wastewaters and the effluents of diverse industries.</p>
            
            </div>

            </div>
             <br>
            <br>
            <hr/>
            <br>
             <br>


            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/David Dzombak.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>David Dzombak</h3>
            <br>
            <p class="text-muted">Hamerschlag University Professor and Department Head, Civil and Environmental Engineering<br>
Professor Dzombak specializes in water quality engineering, environmental restoration, and energy-environment issues. One of his current research focus is the use of low-grade heat for membrane treatment processes for wastewater management and reclamation in power production. Dzombak serves on the U.S. Environmental Protection Agency Science Advisory Board, the U.S. Department of Defense Strategic Environmental Research and Development Science Advisory Board, the Water Science and Technology Board of the National Research Council, and the Roundtable on Science and Technology for Sustainable of the National Academies. </p>
            
            </div>

            </div>
             <br>
            <br>
            <hr/>
            <br>
             <br>




            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Edwin Pinero.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Edwin Piñero</h3>
            <br>
            <p class="text-muted">Ed Pinero works to support programs at company operations and to facilitate relations with key stakeholders in regard to sustainability as well as development and implementation of sustainable programs, concerning with infrastructure, water, energy, and waste. Before, Ed Pinero has served in the public sector as the White House Federal Environmental Executive, White House Council on Environmental Quality, where he focused on developing and implementing policies and practices within the federal government, and the Pennsylvania state government in energy and sustainability.</p>
            
            </div>

            </div>
             <br>
            <br>
            <hr/>
            <br>
             <br>
            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Jeaneen Zappa.jpg' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Jeaneen A. Zappa</h3>
            <br>
            <p class="text-muted">Zappa leads the Pittsburgh, PA- based non-profit, Conservation Consultants Inc., which focuses on residential energy efficiency and home performance, especially for low-income households.  CCI is driving an effort to convene a statewide working group on the Department of Energy’s Home Energy Score and facilitates the regional ReEnergize Pittsburgh Coalition. Zappa serves on the Board of Directors of the Allegheny Land Trust and Pittsburgh Green Innovators, and she is a former member of the Pittsburgh Technology Council’s Green Advisory Council, the Nine Mile Run Watershed Association Board, Crafton Public Library Board, Hollow Oak Land Trust Board, and the PowerLink Board. Her previous professional roles include serving as the first Sustainability Manager for Allegheny County, Deputy Director of the Green Building Alliance, Director of Strategic Marketing for Descartes Systems Group and Marketing Manager for Vocollect voice recognition technology.</p>
            
            </div>

            </div>
            <br>
            <br>
            <hr/>
            <br>
             <br>

             <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/susan plegros.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Susan P. Legros</h3>
            <br>
            <p class="text-muted">Ms. LeGros has practiced environmental and natural resources law for over 20 years.  Her work at CSSD promotes collaborative efforts by industry and its stakeholders called for by the Shale Gas Production Subcommittee of the U.S. Secretary of Energy’s Advisory Board. LeGros has advised chemical, battery and renewable energy companies on regulatory issues and defended them against claims of contamination.  Before moving to corporate and private sectors, LeGros served as a section chief at Environmental Protection Agency (EPA) in the mid-1970s.</p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Vikaas Rao.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Vikaas Rao</h3>
            <br>
            <p class="text-muted">Vikaas Rao is the Vice President of Goldwind Americas, the largest wind energy producer in the world. Rao’s previous position at Goldwind was the director of sales, where he established an office and provided sales and service solutions for the Canadian market. Before joining Goldwind, Rao served as director of commercial operations for Stirling Energy Systems, where he worked on contract negotiations and sales of large scale solar projects.</p>
            
            </div>

            </div>
             <br>
            <br>
            <hr/>
            <br>
             <br>

             <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Enes.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Enes Hoşgör</h3>
            <br>
            <p class="text-muted">CEO & Founder of EEme, LLC<br>
Dr. Hoşgör is a young entrepreneur. He also co-teaches a graduate-level course “Technology Commercialization: Non-Market Public Policy Strategies for Entrepreneurs and Innovators" at the engineering school of Carnegie Mellon University. Before, he was a consultant of Cambridge Energy Research Associates. Project he worked on includes oil and gas field commerciality analysis for national and international oil companies and institutions on up-, mid- and downstream levels.</p>
            
            </div>

            </div>




            <br>
            <br>
            <hr/>
            <br>
             <br>

             <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Anna Siefken.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Anna J. Siefken</h3>
            <br>
            <p class="text-muted">Vice President of Strategic Engagement & Pittsburgh 2030 District Director, Green Building Alliance (GBA)<br>
Anna has almost 25 years of experience fostering internationally recognized brands in partnership with corporations, nonprofits, and the government sector. Anna creates, fosters, and manages GBA’s strategic engagement and stakeholder outreaches. She also manages the Pittsburgh 2030 District, including the convening of District Partners, serving as the initiative’s primary spokesperson, and acting as the liaison between GBA and District stakeholders. Anna is responsible for developing relationships with and supporting new and existing property, community, and resource partners to help meet holistic District goals, as well as designing tools, educational opportunities, and communication strategies for them.</p>
            
            </div>

            </div>




            <br>
            <br>
            <hr/>
            <br>
             <br>

             <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Rita Baranwal.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Rita Baranwal</h3>
            <br>
            <p class="text-muted">Director of Technology Development and Application, Westinghouse Electric Company<br>
Dr. Rita directs more than 70 engineers and technicians, and leading-edge characterization and hot cell laboratories at Westinghouse, the world's pioneering nuclear energy company. She leads game-changing innovation projects to advance nuclear energy industry, and directs subject matter experts in Robotics, Advanced Manufacturing, Nuclear Analysis, Chemical Engineering, and Instrumentation & Controls to support projects and operating fleet. She also collaborates with domestic and international laboratories and universities to develop advanced concepts for application in nuclear industry.</p>
            
            </div>

            </div>



            <br>
            <br>
            <hr/>
            <br>
             <br>

             


        </div>
    </section>


    <section id="high-tech">
        <div class="container">


            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">High Tech Panel</h2>
                    <hr/>
                </div>
            </div>
 
            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Tuomas Sandholm.png' %}" class="img-responsive img-circle" alt="">
            </div>

            <div class="col-lg-1 text-center"></div>

            <div class="col-lg-8">
            <h3>Tuomas Sandholm</h3>
            <br>
            <p class="text-muted">With over 450 published papers, Dr. Tuomas Sandholm has 25 years of experience in building optimization-powered electronic marketplaces, and has fielded several of his systems. Dr. Sandholm’s algorithms also run the United Network for Organ Sharing (UNOS) kidney exchange, which includes 60% of the transplant centers in the US. He is Founder and CEO of Optimized Markets, Inc., a startup that is bringing a new paradigm to advertising campaign sales and scheduling - in TV, radio, Internet display, streaming, mobile, game, and cross-media advertising. </p>
            
            </div>
            </div>
            <br>
            <br>
            <hr/>
            <br>
             <br>
            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Taobo.jpeg' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Tao Bo</h3>
            <br>
            <p class="text-muted">Joined on January 2016, Bo Tao has been the Vice President of Cheetah Mobile. Before, he was VP of Symantec, where he was responsible for building and operating cloud and big data platforms based on OpenStack & Hadoop families of open source technologies, respectively. The platform spans in multiple data centers worldwide and operates tens of thousands of VMs and dozens of petabytes of data.

Graduated from Tshinghua University and went to Princeton for ECE PHD. He has more than 10 patents and have received two major book rewards: Book Chapter C0-Author and Book Co-Editor.

He is also in the organization of China Institution of Electronics and Internet of Things 2012.</p>
            
            </div>

            </div>
            <br>
            <br>
            <hr/>
            <br>
             <br>

            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Cheng-lv.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Cheng Lv(吕骋)</h3>
            <br>
            <p class="text-muted">Founder of Raven Tech, Cheng Lv earned his degree at University of Liverpool. Before Raven Tech, Lv founded timeet in the Junior year, and acquired million-dollar of angel investment to found Raven Tech in Graduate years. Founded in May 2014, Raven Tech is the one of the fifth batch of graduates from Microsoft Ventures Accelerator, and the only startup from Mainland China enrolled in the Y Combinator W15. Its mission is to make our lives easier, more elegant and more efficient with the power of technology and design. Raven Tech focuses in the next generation of human-machine and human-human interaction system, which is called Project Flow. Music Flow, a pure simple music player, is the music feature of Project Flow. It is the way users interact with mobile phones and intelligent terminals in the future.</p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Roger Dannenberg.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Roger Dannenberg</h3>
            <br>
            <p class="text-muted">Roger B. Dannenberg, Professor of Computer Science, Art, and Music at Carnegie Mellon University, is pioneer in the field of Computer Music. His work in computer accompaniment led to three patents and the SmartMusic system now used by over one hundred thousand music students. As a composer, Dannenberg’s works have been performed by the Pittsburgh New Music Ensemble, the Pittsburgh Symphony, and at many international festivals. As a trumpet player, he has collaborated with musicians including Anthony Braxton, Eric Kloss, and Roger Humphries, and performed in concert halls ranging from the historic Apollo Theater in Harlem to the Espace de Projection at IRCAM. Dannenberg is active in performing jazz, classical, and new works. </p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>


             <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Jeff Schneider.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Jeff Schneider</h3>
            <br>
            <p class="text-muted">Dr. Schneider was the co-founder and CEO of Schenley Park Research,Inc. (SPR), a company dedicated to bringing new machine learning algorithms to industry. Later, he developed a new machine-learning based CNS drug discovery system and spent a two-year sabbatical as the Chief Informatics Officer of a biotech, Psychogenics, to set up and commercialize the system. Through his work at CMU and his commercial and consulting efforts, he has worked with several dozen companies and government agencies including six Fortune 500 companies, and groups from seven other countries. </p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>


             <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Dan Siewiorek.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Dan Siewiorek</h3>
            <br>
            <p class="text-muted">Dr. Dan Siewiorek has designed or been involved with the design of nine multiprocessor systems and has been a key contributor to the dependability design of over two dozen commercial computing systems. Dr. Siewiorek has served as Chairman of the IEEE Technical Committee on Fault-Tolerant Computing and as founding Chairman of the IEEE Technical Committee on Wearable Information Systems. He is a thrust director for the Quality of Life Technology NSF Engineering Research Center. He is also a thrust leader in the Future of Work Center and the Smart Grid Center. He has been the recipient of the American Association of Engineering Education Frederick Emmons Terman Award, the IEEE/ACM Eckert-Mauchly Award, and the ACM SIGMOBILE Outstanding Contributions Award. He is a Fellow of IEEE, ACM, and AAAS and is a member of the National Academy of Engineering. </p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>

            <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/Jaime Carbonell.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Jaime Carbonell</h3>
            <br>
            <p class="text-muted">As a widely recognized authority in machine translation, natural language processing and machine learning, Dr. Jaime Carbonell created the university’s Ph.D. program in language technologies and is a co-creator of the Universal Library and its Million Book Project. Dr. Carbonell has invented a number of well-known algorithms and methods during his career, including proactive machine learning and maximal marginal relevance for information retrieval. Among his many awards and honors, recently he has received the 2015 Okawa Prize for "outstanding contributions to research in language technologies, machine learning and computational biology in the field of artificial intelligence." </p>
            
            </div>

            </div>
        </div>
        </div>
    </section>

    <section id="finance">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Finance Panel</h2>
                    <hr/>
                </div>
            </div>


            <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/tony-vays.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Tone Vays</h3>
            <br>
            <p class="text-muted">Tone has been working on Wall Street for almost 10 years starting as a risk analyst at Bear Stearns and later becoming a VP at JP Morgan Chase in the aftermath of the financial crisis. His expertise is in Economic Trends, Trading and Risk Analysis. Ever since getting involved in Crypto Currencies in early 2013 he has been very active in spreading the relevance and importance of this technology to people looking to better understand the current financial system. He is the Head of Research at BraveNewCoin where you can find his latest work after previously writing at CoinTelegraph. Tone still attempts to maintain his personal blog LibertyLifeTrail focused on sound economics, privacy, free-thinking and adventurous travel. Tone holds a Masters Degree in Financial Engineering from Florida State University along with Bachelor Degrees in Mathematics and Geology.</p>
            
            </div>

            </div>
            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/steve-mclaughlin.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Steve McLaughlin</h3>
            <br>
            <p class="text-muted">Mr. McLaughlin is the Founder and Managing Partner of Financial Technology Partners (FT Partners), a San Francisco-based boutique investment bank focused exclusively on the financial technology sector. A Wharton MBA and Palmer Scholar, Mr. McLaughlin formerly was Head of the Global Financial Technology in Goldman, Sachs & Co., advising on several high-profile and complex transactions that provided him with the experience and competency to launch FT Partners. Steve has been advising FinTech companies for over 18 years. Steve’s firm was awarded “Investment Bank of the Year” in 2011 for the third time since 2004, and the firm has also received numerous awards for its outstanding transaction results. Steve was recognized as Dealmaker of the Year in three times since 2007.</p>
            
            </div>

            </div>
        

            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/vikcki zhou.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Vicki Zhou</h3>
            <br>
            <p class="text-muted">Co-Founder and Co-CEO of WiseBanyan<br>Ms. Zhou is the Co-Founder and Co-CEO of WiseBanyan, the world’s first free financial advisor that allows everybody to make the same level of investment advisory and services previously only available to the wealthiest clients. She decided to start WiseBanyan while she was the Vice President of Archipelago Capital Management. Vicki was awarded “2015 High Tech Entrepreneur Award” by Las Vegas Women in Technology Awards. She graduated from Johns Hopkins University with Bachelor of Science degree in Applied Mathematics and Statistics and Biomedical Engineering.</p>
            
            </div>

            </div>


            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/herbert moore.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Herbert Moore</h3>
            <br>
            <p class="text-muted">Co-Founder and Co-CEO of WiseBanyan<br>Mr. Moore is the Co-Founder and Co-CEO of WiseBanyan, the world’s first free financial advisor that allows everybody to make the same level of investment advisory and services previously only available to the wealthiest clients. Before he decided to start WiseBanyan, he was the Founder and CIO of Archipelago Capital Management and has 7 years of experience in investment management. He holds a Master of Science degree from Stanford University and a Bachelor of Arts degree from George Washington University.</p>
            
            </div>

            </div>




            
        </div>
    </section>





    <section id="start-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Start-up Panel</h2>
                    <hr/>
                </div>
            </div>


            <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/Yao Zhang.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Yao Zhang(张尧)</h3>
            <br>
            <p class="text-muted">Yao Zhang has worked with a variety of companies and organizations in both China
and the US on educational investing, program evaluations and business-public
partnerships in education. In past years, she has worked with: McKinsey &
Company’s research arm, McKinsey Global Institute and China Knowledge Center in
Shanghai; Edison Learning Inc. Trace
Foundation; and Plan International and PACT’s headquarter offices in China. She has
also provided advisory on investment opportunities in education for several venture
capital funds. Yao was an invited speaker at the United Nations 2008 Gender and
Empowerment Week addressing educational development and NGOs in China, China
Scope Conferences at MIT in 2010 and NYC in 2011 . 
Yao Zhang received her undergraduate degree in Beijing at the Central University of
Finance and Economics. She holds a Master's degree in Education Economics from
Columbia University Teachers College, where she is currently an advanced doctoral
candidate. Yao's research includes education de</p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/GuoyuLing.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Guoyu Lin(林国宇)</h3>
            <br>
            <p class="text-muted">Guoyu Timothy Lin is the CEO of the CollegeDaily,Inc. He used to work in one of the Big Four audit firms, volunteered in AIDS programs in Africa, and has visited 37 of the 50 states in the US. “The four-year life at the Miami University made me realize that the oversea students encounter all kinds of problems because of the lack of information. Therefore, although I majored in Accounting, I decided to create the WeChat Subscription account CollegeDaily.”  From a public account operated only by myself, CollegeDaily has now become the most popular subscription account among the oversea students in North America. Through delivering high-quality information and answering questions for oversea students, CollegeDaily has received great support.</p>
            
            </div>

            </div>


            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/Wanghan.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Han Wang(王涵)</h3>
            <br>
            <p class="text-muted">
Han Wang’s entrepreneurship journey was started two years ago. Han Wang and other co-founders founded their first venture, FotoDish mobile app for foodies, in Han’s living room in 2013. The FotoDish app is one of the most recommended dinning app in Boston on App Store. One year later, Han Wang managed to run a SINO-US IT consulting team that helps start-up entrepreneurs for mobile app and information system development. Han Wang co-founded Liaoyuan with his partners on year 2015.  Liaoyuan works with U.S. and Chinese start-up entrepreneurs to connect resource, share business ideas and find business partners. It is one of the most famous and important online social networks for start-up entrepreneurs in US, especially for Chinese people who are running their own venture business or seeking golden opportunities to join the next unicorn companies.
</p>
            
            </div>

            </div>
            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/SuQi.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Qi Su(苏奇)</h3>
            <br>
            <p class="text-muted">Qi Su is the CEO and co-founder of Modelo (www.modelo.io) - a design collaboration and workflow management platform for 3D design teams and CAD users, like architects, engineers and developers. Prior to Modelo Qi Su was an architectural designer and a lecturer at the University of Southern California and Tongji University. He graduated from Harvard Graduate School of Design in 2013, and is the only master student in the school’s history to win both the Peter Rice Prize for innovation in advancing structural engineering and the Digital Design Prize for creative use of computer graphics in relation to the design professions.</p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/Zhangxin.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Xin Zhang(张鑫)</h3>
            <br>
            <p class="text-muted">Xin Zhang is a former software engineer in Google Core Technology System. From 2012 to 2014, he served as the key engineer for the development in IDC, and Cluster Management. He also participated in the project — Google Cloud Platform from planning the system to actually developing the product. Moreover, he took part in designing Managed Cloud, which was greatly praised by American IBM, VMWare, Redhat and other top companies. In 2012, he received his PH.D in Computer Science from Carnegie Mellon University. He has published over 10 international academic research papers, and has become an expert in the fields of Distributed System and Network Security.</p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/harryZhou.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Harry Zhou</h3>
            <br>
            <p class="text-muted">Harry Zhou is the founder and CEO of jEugene. Prior to founding jEugene, Harry worked as a corporate attorney for the New York office of White & Case LLP, where he routinely advised U.S. and international financial institutions on leveraged finance transactions and compliance
 
issues. Harry holds a J.D. degree from Harvard Law School and a B.S. degree in Computer Science from Dickinson College.</p>
            
            </div>

            </div>


                       <br>
            <br>
            <hr/>
            <br>
             <br>
            <div class="row">
            <div class="col-lg-3 text-center">
            <img src="{% static 'Main/img/speakers/Cheng-lv.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>


            <div class="col-lg-8">
            <h3>Cheng Lv(吕骋)</h3>
            <br>
            <p class="text-muted">Founder of Raven Tech, Cheng Lv earned his degree at University of Liverpool. Before Raven Tech, Lv founded timeet in the Junior year, and acquired million-dollar of angel investment to found Raven Tech in Graduate years. Founded in May 2014, Raven Tech is the one of the fifth batch of graduates from Microsoft Ventures Accelerator, and the only startup from Mainland China enrolled in the Y Combinator W15. Its mission is to make our lives easier, more elegant and more efficient with the power of technology and design. Raven Tech focuses in the next generation of human-machine and human-human interaction system, which is called Project Flow. Music Flow, a pure simple music player, is the music feature of Project Flow. It is the way users interact with mobile phones and intelligent terminals in the future.</p>
            
            </div>

            </div>
            <br>
            <br>
            <hr/>
            <br>
             <br>



             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/zheng-xin.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Zheng Xin(覃政)</h3>
            <br>
            <p class="text-muted">Zheng Xin, CEO, Founder and chairman, earned his degrees in Beijing University of Aeronautics and Astronautics and China Academy of Space Technology (CAST). In 2014, Xin founded ANTVR and developed new product ANTVR KIT, Virtual Reality device. ANTVR is developed from the previous holographic glasses display device, and can be used in better experience in 3D video games.
</p>
            
            </div>

            </div>
            <br>
            <br>
            <hr/>
            <br>
             <br>



             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/zhaoge.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Zhao Ge(赵弋)</h3>
            <br>
            <p class="text-muted">杭州硅谷公司(Westlake) 首席执行官 <br>Start-up Panel Moderator
            <br>Over 15 years of working experience in Start-up Investment and Angel Fund, successfully leading high tech startups including Kangsheng Shares（SZ:002418) and many other startups going IPO or being acquired<br>
            Establish and operate the first official FOF; primarily invest over 40 VC and Angel Funds over 6 billion Yuan<br>
            Establish the first overseas guide fund; invest five overseas guide fund over 300 million dollars
</p>
            
            </div>

            </div>

            <br>
            <br>
            <hr/>
            <br>
             <br>



             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/donghe.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Dong He(董和)</h3>
            <br>
            <p class="text-muted">He Dong is the founder and CEO of PoloyQolor which focus on researching and developing a quantum dot technology used in LED display. He built the core team of PolyQolor and raised $2.1M and filed a few patents. He received his bachelor degree in Physics from Peking University and his master degree in Electrical Engineering from University of New Orleans. He also researched affiliate at MIT. Before establishing PoloyQolor, he worked in Cadexterity Inc., Avant! Corp. And Synopsys Inc. as software engineer, among which he filed two patents. He also found InnovaNano Inc which developed customers in both Europe and US.
</p>
            
            </div>

            </div>



        </div>
    </section>




    <section id="IE">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Innovation and Entrepreneurship Panel</h2>
                    <hr/>
                </div>
            </div>

             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/feng_li.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Feng Li(李丰)</h3>
            <br>
            <p class="text-muted">Feng focuses on Education, TMT, and Deep Technology. He pays strong attention to E-commerce, Fintech, online education, new generation lifestyle businesses and O2O enterprises. Previously as a partner at IDG-Accel, he led investments on a series of successful projects, including CreditEase, Zhubajie, Prosper, Three Squirrels, Tongbanjie, Didapinche, Bilibili, Coinbase, and etc. Among them, Zhubajie, CreditEase and Prosper successfully joined Billion Dollar Club.</p>
            
            </div>

            </div>

            

            <br>
            <br>
            <hr/>
            <br>
             <br>
             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/Eric Daimler.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Eric Daimler</h3>
            <br>
            <p class="text-muted">
    Eric Daimler has 20+ years experience building companies. Principal in two Investment Firms (Hg Analytics, CDO Ventures) championing early-stage investments in household firms such as Hotmail (NASDAQ: MSFT) and TiVo (NASDAQ: TIVO) while producing superior returns to investors. Agent in two financial firms (Morgan Stanley, Merrill Lynch) in quantitative, and emerging markets, finance. Experience as an Executive, Investor, and Advisor to many information-technology companies, including six as founder. Studying Computer Science early, starting at the University of Washington, continuing to Carnegie Mellon University, and later Stanford University. Academic career culminated in time spent at Carnegie Mellon as Assistant Professor of Software Academic career culminated in time spent at Carnegie Mellon as Assistant Professor of Software Engineering Practice and finally Assistant Dean.</p>
            
            </div>

            </div>

            

            <br>
            <br>
            <hr/>
            <br>
             <br>



             <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/LarryLi.jpg' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Larry Li(李强)</h3>
            <br>
            <p class="text-muted">Larry Li founded Amino Capital (Formerly known as zPark Capital) in 2012, and he also co-founded TEEC Angel Fund in 2010. His passion is helping entrepreneurs build disruptive products in big data, consumer electronics, drones, enterprise services and et.al. He sits on the board of Darma Smart Cushion, Yttro Mobile, Droplet, Candy House, SkuChain, Battlefy, SherpaShare, Cassia, Mage, and also led investment on companies which experienced fast growth, such as Assemblage (acquired by Cisco – NYSE: CSCO), Orbeus (acquired by Amazon – NYSE: AMZN), Skycatch, and Trustlook.</p>
            
            </div>

            </div>



                       <br>
            <br>
            <hr/>
            <br>
             <br>
            <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/Ricky Wang.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Ricky Wang</h3>
            <br>
            <p class="text-muted">Ricky is a Senior Investments Manager at Idea Bulb Ventures with experience in software engineering, product management, startups, and angel investing. He is responsible for investment on connected hardware and developer tools. Earlier in his career, he founded and ranMobnotate, an ad network for eBooks. Prior to that, he started Google's data warehousing and business intelligence teams in the US - in addition to rotational stints in London, Hyderabad, and Beijing.Ricky received his MS/BS in Computer Science from UCSB, with emphasis on Artificial Intelligence and Distributed Systems, and MBA from INSEAD.</p>
            
            </div>

            </div>



                       <br>
            <br>
            <hr/>
            <br>
             <br>
            <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/xuehong.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Hong Xue(薛宏)</h3>
            <br>
            <p class="text-muted">Hong Xue is the Managing Director of Westlake Ventures, and the partner of Cybernaut Investment in Silicon Valley. He leads the practice of early stage investment and merge & acquisition initiatives in Silicon Valley and Israel for Westlake Ventures and Cybernaut. His investment focuses including big data and cloud technologies; cyber security; FinTech; productivity-based applications and digital healthcare. He has more than 20 years of experience across engineering, product management, business development, and venture capital investment. He holds mentor and advisors positions for multiple start-up companies in Silicon Valley. His earlier professional experience includes technology management position in companies such as Motorola and Oracle. He obtained his M.S. degree in Computer Science and Business Administration from Carnegie Mellon University and his B. S. EE in China. </p>
            
            </div>

            </div>


                      <br>
            <br>
            <hr/>
            <br>
             <br>
            <div class="row">
            <div class="col-lg-3">
            <img src="{% static 'Main/img/speakers/Christopher Moehle.png' %}" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-lg-1 text-center"></div>
            <div class="col-lg-8">
            <h3>Christopher Moehle</h3>
            <br>
            <p class="text-muted">Chris has 10+ years’ experience spanning tech development, entrepreneurship, ventures, and consulting.  The common theme of these diverse experiences is speeding the transition from R&D to product.  He founded and led the cross-campus Robotics Ventures program at the Carnegie Mellon University.  Chris also led the robotics new markets activities while at CMU.  His work successfully established beachheads in emerging areas of healthcare and energy.  

Out of this, he co-founded two robotics companies, still acting as CEO on one and an advisor on several others. He has experience in de-risking technical development projects by tightening the time-to-market, based on experience developing medical devices, therapeutics, and biological countermeasures.  Has both practical experience and published academic work in using biotech as a commercial reference model for advanced robotics.
</p>
            
            </div>

            </div>





        </div>
    </section>


{% endblock %}